@import url(reset.css);

@font-face {
  font-family: "Gmarket";
  src: url(./font/GmarketSansTTFMedium.ttf);
}


/*
배경색 : #dde9fb
글자색 : #b3caec

#a2cafd


다크모드

배경색 : 
글자색 : 

*/


body::-webkit-scrollbar {
  display: none;
}

body{
  font-family: 'Gmarket', sans-serif;
}

/*header*/
header{
  width:100%;
  height:auto;
  position:fixed;
  top:0;
  z-index: 99999;
  background-color: #fff;
  
}
header #header-wrap{
  width:90%;
  height:auto;
  margin:0 auto;
  padding:20px;
}
header #header-wrap p{
  font-size:25px;
  font-weight:600;
  display:inline-block;
  margin-right:30px;
  
}
header #header-wrap #dn_btn{
  width:50px;
  height:50px;
  border-radius: 25px;
  font-size:16px;
  border:0px;
  background-color: #80A5F5;
  display: inline-block;
  vertical-align: middle;
  right:0;
  color:#fff;
  font-weight: 600;
}
header #header-wrap #dn_btn:hover{
  background-color: #fff;
  border:2px solid #80A5F5;
  cursor: pointer;
  color:#80A5F5;
}
.bar-bg{
  background-color: #dae8fc;
  position: absolute;
  width:100%;
  height:5px;
}
.bar-ing{
  background-color: #80A5F5;
  width:100%;
  position: absolute;
  height:5px;
  vertical-align: baseline;
}



/*main*/
main{
  width:100%;
  height:auto;
  /* background-color: #a2cafd; */
}
main #wrap{
  width:90%;
  height:auto;
  margin:0 auto;
}
/*맨 위 visual*/
main #wrap .visual{
  width:100%;
  height:auto;
}
main #wrap .visual .visual-text-area{
  padding:350px 0 200px;
  margin: 0 0 300px 0;
  display: flex;
  justify-content: center;
  /* border:1px solid red; */
}

main #wrap .visual .visual-text-area .text{
  width:60%;
  font-weight: 600;
  font-size:50px;
  /* border:1px solid red; */
  display: flex;
  justify-content: left;
  line-height:1.25;
}

main #wrap .visual .visual-text-area .text img{
  display: block;
  width: 230px;
  margin-right: 40px;
}
main #wrap .visual .visual-text-area .text .txt-title{
  width: 620px;
  margin-top: 30px;
  font-size: 55px;
  font-family: "Gmarket";
  line-height: 58px;
}
/* main #wrap .visual .visual-text-area .text-left .text{
  font-size:80px;
  line-height:1.25;
  letter-spacing: 55px;
} */

/*
text-right
main #wrap .visual .visual-text-area .text-left .text4{
  font-size: 23px;
  letter-spacing: 4.5px;
  margin-top: 10px;
}

main #wrap .visual .visual-text-area .text-right{
  width:30%;
  height:auto;
  display: flex;
  justify-content: right;
  border:1px solid black;
}
main #wrap .visual .visual-text-area .text-right span{

  display: block;
  font-size: 30px;
  
  line-height: 1.5;
}
main #wrap .visual .visual-text-area .text-right .text-box2{
  margin-top: 45px;
  padding-left: 20px;
  border-left: 14px solid black;
}
main #wrap .visual .visual-text-area .text-right .text-box2 span{
  display: block;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
} */
/*블라블라 내용 많은 곳 profile*/
main .profile{
  width:100%;
  background-color:lightslategray;
  
}
main .profile h2{
  margin-top: 120px;
  text-align: right;
  font-size: 46px;
  font-weight: 400;
  line-height: 1.74;
}
main .profile .intro-box{
  font-size: 19px;
  letter-spacing: -0.2px;
  line-height: 1.95;
}
main .profile .intro-box .intro{
  margin-top:40px;
  color:#80A5F5;
}

/*포폴 넣는 곳!!!! cp-box */
main .cp-box{
  width:100%;
  height:auto;
  border:1px solid black;
  margin:0 auto;
  
}
main .cp-box ul{
  width:100%;
  height:auto;
  padding:50px 0;
  margin: 0 auto;
  
}
main .cp-box ul li{
  width:30%;
  height:100px;
  border:1px solid red;
  display: flex;
  flex-direction: column;
  
}



/*top_btn*/
#top_btn{
  width:60px;
  height:60px;
  border-radius: 30px;
  font-size:16px;
  position:fixed;
  right:90px;
  bottom:50px;
  border:0px;
  background-color: #80A5F5;
  color:#fff;
  font-weight: 600;
}
#top_btn:hover{
  background-color: #fff;
  border:2px solid #80A5F5;
  cursor: pointer;
  color:#80A5F5;
}

/*comment*/

